.content {
    padding: 50px 20px;
    background: #f5f5f5;
  }
.why-choose-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px ;
    background-color: #fff;
  
    .full-width-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .content {
      display: flex;
      max-width: 1200px;
      width: 90%; /* Mở rộng ra nhưng vẫn có khoảng cách hai bên */
      gap: 30px;
  
      .coffee-image {
        width: 50%;
        height: auto;
        object-fit: cover;
      }
  
      .text-content {
        width: 50%;
        background: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        h2 {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
          text-transform: uppercase;
          text-align: center;
          color: #000000;
        }
  
        p {
          font-size: 16px;
          margin-bottom: 15px;
          text-align: center;
        }
  
        ul {
          list-style: none;
          padding: 0;
  
          li {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: bold;
            text-align: left;
          }
        }
      }
    }
  }
  
  @media (max-width: 1024px) {
    .why-choose-us .content {
      flex-direction: column;
      text-align: center;
      width: 100%; /* Đảm bảo không bị trống hai bên */
  
      .coffee-image {
        width: 100%;
      }
  
      .text-content {
        width: 100%;
        padding: 20px;
      }
    }
  }
  
  